$custom-white: #f5f5f7;
$custom-black: #101010;

$blue-50: #edf6ff;
$blue-100: #d6e8ff;
$blue-200: #b6d9ff;
$blue-300: #84c2ff;
$blue-400: #4aa0ff;
$blue-500: #2178ff;
$blue-600: #0954ff;
$blue-700: #033cf2;
$blue-800: #0a31c3;
$blue-900: #1034a6;
$blue-950: #0e1e5d;
$blue-shadow: 0px 4px 10px 0px rgba($blue-950, 0.7);

$orange-50: #fffaec;
$orange-100: #fff4d3;
$orange-200: #ffe5a5;
$orange-300: #ffd16d;
$orange-400: #ffb132;
$orange-500: #ff970a;
$orange-600: #ff7f00;
$orange-700: #cc5c02;
$orange-800: #a1470b;
$orange-900: #823c0c;
$orange-950: #461c04;

$wine-color: #84152a;
